version: '3.8'

services:
  mongo:
    image: mongo:7.0  
    container_name: mongo-db
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: db_chat
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-server
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: fastapi-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      MONGO_URI: mongodb+srv://chat_db_u:chatDBPASS@chatdb.psb6dew.mongodb.net/
      RABBITMQ_URI: amqps://cizsiimt:BP2fQnQTuXfoHptyAYRWyCItkZGr6udZ@stingray.rmq.cloudamqp.com/cizsiimt
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - .:/app

volumes:
  mongo_data:
  rabbitmq_data: