<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <div class="container">
    <form class="form" id="registerForm">
      <h2>Criar Conta</h2>

      <div class="input-group">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Digite seu email" required>
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" placeholder="Crie uma senha" required>
      </div>

      <button type="submit">Cadastrar</button>
      <p class="link">Já tem conta? <a href="login.html">Entrar</a></p>
    </form>
  </div>

  <!-- JAVASCRIPT -->
  <script>

    const form = document.getElementById('registerForm');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const data = {
        name: form.name.value.trim(),
        email: form.email.value.trim(),
        password: form.password.value.trim()
      };

      // O que Acontece após o push do botão de submit -->
      try {

        // conexão com a API e criação de usuário
        const response = await fetch('https://chat-project-meem.onrender.com/users/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });



        // realocação ou erro
        if (response.ok) {

          alert('✅ Cadastro realizado com sucesso!');
          

          window.location.href = '/html/login.html';
        } else {
          const error = await response.json();
          alert('Erro: ' + (error.detail || 'Falha ao cadastrar usuário.'));
        }

      } catch (err) {
        console.error('Erro:', err);
        alert('Erro de conexão : ', err);
      }

    });


  </script>
</body>
</html>
