<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar no Chat</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <div id="chatSelectContainer" class="container">
    <h2 id="chatSelectTitle">Escolha como deseja se conectar</h2>

    <!-- <div id="connectUserSection" class="input-group">
      <label for="userCodeInput" id="connectUserLabel">Conectar com usuário</label>
      <input 
        type="password" 
        id="userCodeInput" 
        class="input-field" 
        placeholder="Digite o código ou senha do usuário">
      <a href="chat-user.html" id="connectUserLink">
        <button id="connectUserBtn" class="chat-button">Conectar com Usuário</button>
      </a>
    </div>

    <p class="divider-text">ou</p> -->

    <div id="globalChatSection" class="button-group">
      <a href="chat.html" id="globalChatLink">
        <button id="globalChatBtn" class="chat-button">Chat Global</button>
      </a>
    </div>
    

    <div id="backSection" class="button-group">
      <a href="cadastro.html" id="backToLoginLink">
        <button id="backToLoginBtn" class="chat-button">Deslogar</button>
      </a>
    </div>
  </div>
</body>
</html>
