<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pixel Chat</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

 
  <div class="center-box">
    <div class="presentation-container">
      <h1 class="title">Pixel Chat</h1>
      <p class="subtitle">Criando conexões</p>

      <button class="start-btn" onclick="window.location.href='/html/cadastro.html'">
        Começar
      </button>
    </div>
  </div>

</body>
</html>